.main {
	display: flex;
	justify-content: center;
	text-align: center;
}

form {
	width: 50%;
}

.addText {
	display: flex;
	justify-content: space-around;
}

ul {
	left: 10%;
	right: 10%;
	max-width: 70%;
}